* {
    font-family: inherit;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background: #f0f0f0;
    color: #333;
    font: lighter 1.3em/1.5 Helvetica, Georgia, serif;
}

button {
    font: inherit;
}

header h1, #controls form, #controls {
    display: inline;
}

header h1 {
    font-size: 3em;
    margin: 0 1em 0 0.4em;
}

#feeds {
    font-size: 0.8em;
    float: left;
    width: 26%;
    min-height: 10em;
    padding: 0.4em;
    overflow-y: auto;
}

#feeds li:hover {
    background: #ddd;
    cursor: pointer;
}

#feeds li.selected {
    background: #ccc;
}

#feedContent {
    float: left;
    width: 70%;
    min-height: 10em;
    padding: 0.4em;
    overflow-y: auto;
}
