* {
    font-family: inherit;
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #333;
}

a:visited {
   color: #999;
}

body {
    background: #f0f0f0;
    color: #333;
    font: lighter 1.3em/1.5 Helvetica, Georgia, serif;
}

button {
    font: inherit;
}

header h1, #controls form, #controls {
    display: inline;
}

header h1 {
    font-size: 3em;
    margin: 0 1em 0 0.4em;
}

#feeds {
    font-size: 0.8em;
    float: left;
    width: 16%;
    min-height: 10em;
    padding: 0.4em;
    overflow-y: auto;
}

#feeds li:hover {
    background: #ddd;
    cursor: pointer;
}

#feeds li.selected {
    background: #ccc;
}

#feedContent {
    float: left;
    width: 80%;
    min-height: 10em;
    padding: 0.4em;
    overflow-y: auto;
}

.feedEntry {
    margin-bottom: 1em;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1em;
}

.feedEntry h3 {
    float: left;
    margin-bottom: 0.4em;
}

.feedEntry .date {
    float: right;
}

.feedEntry .content {
    clear: both;
}

.feed {
    white-space: nowrap;
    overflow-x: hidden;
    position: relative;
}

.feed .count {
    position: absolute;
    border-radius: 4px;
    right: 0em;
    color: #fff;
    background: #aaa;
    padding: 0.2em;
}
